@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Poppins";
    src: url("../src/assets/fonts/Poppins-Light.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Summer Loving";
    src: url("../src/assets/fonts/summer-loving-solid-regular.otf");
    font-display: swap;
}
@font-face {
    font-family: "Tay Billy";
    src: url("../src/assets/fonts/TAYBilly.otf");
    font-display: swap;
}
@font-face {
    font-family: "Tay Benditos";
    src: url("../src/assets/fonts/TAYBenditos.otf");
    font-display: swap;
}